
.container{
  background-color: #1F1F1F;
  height: fit-content;
  position: relative;
  overflow: auto;
  padding: 0 20px 25px;
  --button-color: #199EC7;
}

.title {
  font-size: 24px;
  color: #E4E4E4;
  text-align: center;
  margin: 30px 0;
}

.browse__buttons{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.filter__button{
  background-color: #199EC7;
  /* min-width: 9.375rem ; */
  padding: 0 20px;
  height: 3.125rem;
  border: none;
  color: #E4E4E4;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.movie__list__container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.pagination__buttons{
  display: flex;
  justify-content: center;
  gap: 65px;
  margin-top: 20px;
}

.current__page{
  padding: 15px;
  border: 1px solid #ffffff20;
  width: fit-content;
  color: #E4E4E4;
  font-weight: 500;
}

.next__page{
  padding: 15px;
  border: 1px solid #ffffff20;
  width: fit-content;   
  color: #E4E4E4;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
  border: 1px solid #ffffff20;
  background: transparent;
}

.filters__container{
    background-color: #0C0C0C;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    /* height: 50px; */
    border:1px solid #ffffff2c;
    padding: 25px 40px;
    color: #E4E4E4;
    text-align: center;
    position: relative;
}

#select{
  width: 100%;
  margin-top: 15px;
  padding: 12px 15px 12px;
  border: none;
  color: #E4E4E4;
  border-radius: 5px;
  background-color: #ffffff10;
}

.select__wrapper{
  margin-top: 20px;
}

.popup__button{
  color: #E4E4E4;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  height: 30px;
  width: fit-content;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}